.tables{
    width: 15%;
    background-color:#01bfa6;
    margin-right: 40px;
    padding-left: 20px;
    border-radius: 20px;
    padding-bottom:120px;
    padding-right: 15px;
}
.table-title{
    padding-left: 20px;
    margin-top: 30px;
    background-color:#20dac2;
    color:white
}
.data{
    margin-top:20px;
    color: white;
    font-size: 20px;
}